
/*
Estilo para la interfaz del restaurante

Autor: Paula Sanchez - Harold Cupitra;
Fecha: 07/02/2018;

*/

*{
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 10px; 
}

/*falta rst*/
body{
	background-color: #D6D6D6;
}

#contenedor{
	background-color: #FFF;
	height: 100vh;
	width: 95vw;
	min-width: 320px;
	margin: auto;
	padding-top: 1%;
}

/****  FORMULARIO LOGIN*/
.div-center {
  width: 400px;
  height: 400px;
  background-color: #55C5D0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  border-bottom: 2px solid #ccc;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;

}

div.content h3{
	text-align: center;
}

#imgLogin{
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
}
/******* CHEF1*************/

#cont_norte{
	width: 90%;
	height: 100px;
	margin: auto;
	padding-top: 0;
	background-color: #E6E6E6;
}

/* Elementos dentro del cont_norte */


#imagenLogo{
	/*background-color: #000;	*/	
	height: 90%;
	padding-top: 1%;
}



#imgLogoChef{
	width: 100%;
	height: 90%;
	
}

#infoLogo{	
	/*background-color: #000;	*/
	height: 90%;
	padding-top: 1%;
	margin-left: 1%;
}

#logoModulo{
	background-color: #fff;	
	height: 90%;
}

#logoNombre{
	background-color: #fff;	
	height: 90%;

}



/* Fin de elementos dentro del cont_norte */

#cont_centro{
	width: 90%;
	height: 70%;
	background-color: #E6E6E6;
	margin: auto;
	margin-top: 2.5%;
	padding-top:1.5%;
}

/*Elementos cont_Centro*/
#tbl_cocina {
     overflow:scroll;
     height:100%;
     width:100%;
     text-align: center;
     font-size: 20px;
}
#tbl_cocina table {
    width:100%;
    background-color:lightgray;
}

#tbl_cocina th{
	text-align: center;
	font-size: 25px;
}

#tbl_cocina button{
	float: center;
	height: 35%;
	width: 80%;
	background-color: #fff;

}
